/* 
Reset Styles
*/
*{
    box-sizing:border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset styles */

/* now we use our normal styles */
:root {
    --primary-darker: #0B1F5C;
    --primary-dark: #1B327A;
    --primary: #2B479E;
    --primary-light: #4061C7;
    --primary-lighter: #A2B8FC;

    --secondary-darker: #B28E01;
    --secondary-dark: #D2AB15;
    --secondary: #FFD530;
    --secondary-light: #FFE373;
    --secondary-lighter: #FFEFAE;

    --black: #222222;
    --black-light: #454545;

    --gray: #B1B1B1;
    --gray-light: #DDDDDD;

    --info: #1BB1E7;
    --success: #439D3B;
    --danger: #CD0E02;
    --warning: #EB9100;
    
}


body { 
    font-family: "Archivo", sans-serif;
    font-weight: 400; 

}
strong {
    font-weight: bold;
}
p { 
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    line-height: 1.3;
}
a{
    text-decoration: none;
    color:var(--primary);

}

a:hover{
    text-decoration: underline;
    color:var(--primary);
}

img{
    max-width: 100%;
}
.font-61, .font-49, .font-39, .font-31, .font-25, .font-20 {
    font-family: "Archivo", sans-serif;
    line-height: 1.3;
} 
.weight-400 {
    font-weight: 400;
}
.weight-600 {
    font-weight: 600;
}
h1, .font-61 {
    font-size: 61px;
}
h2, .font-49 {
    font-size: 49px;
}
h3, .font-39 {
    font-size: 39px;
}
h4, .font-31 {
    font-size: 31px;
}
h5, .font-25 {
    font-size: 25px;
}
h6, .font-20 {
    font-size: 20px;
}
.font-18 {
    font-size: 18px;
}
.font-16 {
    font-size: 16px;
}
.small {
    font-size: 14px;
}
.btn{
    padding:0px 16px;
    border-radius: 4px;
    background-color:var(--secondary);
    color:var(--black);
    display: inline-block;
    max-height: 48px;
    line-height: 48px;
    font-size:18px;
}

.btn :hover{
    background-color: var(--secondary-dark);
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.column-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.col-1{

    width: calc(25% - (90px / 4))
}


/*** header CSS  ***/

.site-header {
    padding: 12px 0;
}
.site-header .container {
    justify-content: space-between;
    align-items: center;
}


.logo{
    height: 85px;
}

.menu-toggle{
    background-color: transparent;
    padding: 0;
    width: 42px;
    height: 42px;
    border: none;
    display: none;
}

.menu-toggle span {
    width: 100%;
    height: 2px;
    background-color: #454545;
    margin: 4px 0;
    display: block;
}



.site-header-right {
    gap: 32px;
}
.call-us a {
    color: var(--black);
    gap: 10px;
    text-decoration: none;
}
.call-us div {
    flex-direction: column;
}
.live a{
    color: var(--black);
    border:1px solid var(--primary);
    border-radius: 6px;
    padding:7px 16px;


}
.live a :hover{
    background-color: var(--primary-lighter);
    text-decoration: none;
}


.live a span:before{
    content:"";
    display:inline-block;
    width:10px;
    height:10px;
    border-radius: 10px;
    background-color: var(--success);
    margin-right: 6px;

}

/*** header nav CSS  ***/

/*** primary navigation css  ***/
.site-navigation{
    background-color: var(--primary);

}
.site-navigation ul{
    list-style: none;
    display: flex;
}
.site-navigation ul li a{

    display: inline-block;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    

}
.site-navigation  ul li a:hover{
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--black);
    
}
.home-hero-banner{
    min-height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;



}
.home-hero-banner:before{
    content:"";
    width: 100%;
    height: 100%;
    background-color: regba(0, 0, 0, 0.5);

    position: absolute; /*position absolute garnu xa bhane parent lai relative garnu parxa jahile ni*/

    left: 0;
    top: 0;
    z-index: -1;
}

.hero-content{
    color: #ffffff;
    max-width: 480px;
    gap: 24px;

}

.hero-content span{
                
    font-size: 25px;
    font-weight: 700;
}
.hero-heading{
    gap: 12px;
}
.fact{
    padding: 24px;
}
.fact strong, .fact span {
    display: block;
    text-align: center;
    padding: 0 32px;
}
.fact strong {
    font-size: 49px;
}

.fact span{
    font-size: 20px;
    margin-top: 12px;
    line-height: 1.3;

}



/*desttop lai  main manera garyo bhane max-with garne mobile lai main garera gare ko xa nbhane min-width garne  ahile phone haru 300px bhnanda sano hudaina teti matra rakhne*/

@media(max-width :767px){ /* 767 px bhane kop chai ya samma matra hunxa 0 dekhi */ 
    
    .container {
        width: 100%;
        padding: 0 32px;
        
    }

    .site-header-right{
        margin-top: 16px;
        gap: 10px;
        width: 100%;
        position: fixed;
        bottom:0;
        left: 0;
        background-color:#ffffff;
        z-index: 999;
        padding: 8px  16px;
        justify-content: space-between;
        align-items: center;


    }
    .call-us .call-us-info{
        display: none;
    }

    .menu-toggle {
        display: block;
    }
    #siteNavigation {
        display: none;
        padding: 32px;
    }
    .site-navigation ul {
        display: block;
    }
    .site-navigation ul li a {
        display: block;
        padding: 16px;
    }
    
}

/* course */
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
.course-col{
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;

}
.span{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.welcome{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.welcome-col{
    text-align: justify;
    flex-basis:48%;
    padding: 30px 2px;
}
.welcome-col img{
    width: 100%;
    margin-right:-10px;
    border-top-left-radius: 60%;
}
.welcome-col h1{
    padding-top:0;
}
.welcome-col p{
    padding: 15px 0 25px;
    margin-left: 10px;
}

.red-btn {
    border: 1px solid var(--danger);
    color: var(--danger);
    background-color: transparent; /* Transparent background to start with */
    padding: 10px 20px; /* Add padding for button size */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px; /* Add border-radius for rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

.red-btn:hover {
    background-color: var(--danger); /* Button background color on hover */
    color: var(--primary-dark); /* Text color on hover */
}

.secondary-btn {
    border: 1px solid var(--danger);
    color: var(--gray-light);
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--danger); /* Set the background color */
}


/* about us*/
.about-us p{
    margin-left: auto;
    margin-right: 50%;
    text-align: justify;
}